body {
  overflow: hidden;
}

body, .navbar, .nav-link > .active {
  color: #14fe17;
  background: #272b23;
  font-size: 32px;
  font-family: monospace;
}

#navbar-nav > .navbar-nav > .nav-item > a {
  color: #14fe17;
  background: #272b23;
  font-size: 32px;
  font-family: monospace;
  position: relative;
  z-index: 50;
  margin: auto;
  width: 10vh;
  padding: 2%;
}

.nav-tabs > .nav-item > a, .nav-tabs, .nav-tabs > .nav-item > a.active {
  border: none;
  color: #14fe17;
  background: #272b23;
  font-size: 32px;
  font-family: monospace;
}

.navbar-nav {
  border-bottom: 1px solid #14fe17;
  margin: 20px;
}
.navbar-nav .nav-item {
  margin: auto;
  width: 100%;
  text-align: center;
}

.navbar::before, .navbar::after {
  bottom: 10px;
  background: #14fe17;
  content: "";
  width: 2px;
  height: 19px;
  position: absolute;
  z-index: 2;
  display: block;
}

.navbar::after {
  right: 18px;
}

.navbar::before {
  left: 18px;
}

.center-image {
  position: absolute;
  margin: auto;
  width: 95%;
}
.center-image img {
  margin: auto;
  display: block;
  height: 600px;
  margin-top: 85px;
  transform: scaleX(-1);
  filter: grayscale(1) sepia(100%) hue-rotate(64deg) saturate(4) brightness(1) contrast(1);
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  margin: 305px 0px 5px 20px;
  width: 100%;
  font-weight: 300;
  color: #14fe17;
  background: #272b23;
  font-size: 32px;
  font-family: monospace;
  font-size: 30px;
}

.footer-item {
  border: 1px solid #14fe17;
  margin: 0px 5px 0px 5px;
  background-color: #0b4a07;
}

.footer-item.col-3 {
  width: 24%;
  margin: 0px 3px 0px 3px;
}

body::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 1px, #000000 2px, #000000 2px);
  top: 0;
  opacity: 0.5;
  z-index: 100;
  pointer-events: none;
}

.navbar-nav > .nav-item.active::before {
  content: "";
  border-left: 2px solid #14fe17;
  border-right: 2px solid #14fe17;
  border-top: 2px solid #14fe17;
  width: 12vw;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-left: -6vw;
}

.nav-tabs > li:nth-child(2) > a {
  opacity: 0.5;
}

.nav-tabs > li:nth-child(3) > a {
  opacity: 0.2;
}

.level-progress-bar {
  display: inline-block;
  border: 3px solid #14fe17;
  height: 20px;
  margin: auto;
  width: 88%;
}
.level-progress-bar .level-progress-bar-indicator {
  width: 70%;
  border: none;
  background-color: #14fe17;
  height: 100%;
}

.mini-status-bars .level-progress-bar {
  margin: auto;
  width: 60px;
}

.mini-status-bars > .margin-bottom {
  margin-bottom: 200px;
}

.mini-status-bars .level-progress-bar .w10 {
  width: 10%;
}
.mini-status-bars .level-progress-bar .w20 {
  width: 20%;
}
.mini-status-bars .level-progress-bar .w30 {
  width: 30%;
}
.mini-status-bars .level-progress-bar .w40 {
  width: 40%;
}
.mini-status-bars .level-progress-bar .w50 {
  width: 50%;
}
.mini-status-bars .level-progress-bar .w60 {
  width: 60%;
}
.mini-status-bars .level-progress-bar .w70 {
  width: 70%;
}
.mini-status-bars .level-progress-bar .w80 {
  width: 80%;
}
.mini-status-bars .level-progress-bar .w90 {
  width: 90%;
}
.mini-status-bars .level-progress-bar .w100 {
  width: 100%;
}

.damage-resistance {
  width: 50%;
  margin: auto;
  margin-top: 90px;
  text-align: center;
}
.damage-resistance .col-1 {
  background-color: #0b4a07;
  border: 3px solid #272b23;
  width: 100px;
}
.damage-resistance .col-1.icon {
  width: 70px;
}
.damage-resistance .col-1.icon img {
  margin-top: 0px;
}
.damage-resistance .col-1.armor {
  margin-left: 30px;
}

.damage-resistance img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(64deg) saturate(4) contrast(1);
}

.item-list > li, a {
  list-style: none;
  width: 30%;
  text-decoration: none;
  color: #14fe17;
  padding: 2px 2px;
}
.item-list > li a:hover, a a:hover {
  background: #14fe17;
  width: 40%;
  color: #272b23;
}/*# sourceMappingURL=style.css.map */