$font-green: #14fe17;
$background: #272b23;
$background-green: #0b4a07;

@mixin greenFiltr{
    filter: grayscale(1) sepia(100%) hue-rotate(64deg) saturate(4) brightness(1) contrast(1);
}

@mixin iconGreenFilter{
    filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(64deg) saturate(4)  contrast(1);
}

@mixin green-bg-ft{
    color:$font-green;
    background: $background;
    font-size: 32px;
    font-family:monospace;
}
body{
    overflow: hidden;
}

body, .navbar,    .nav-link > .active {
    @include green-bg-ft();
}

#navbar-nav > .navbar-nav > .nav-item > a{
    @include green-bg-ft();
    position: relative;
    z-index: 50;
    margin: auto;
    width: 10vh;
    padding: 2%;
}

.nav-tabs > .nav-item > a, .nav-tabs, .nav-tabs > .nav-item > a.active{
    border: none;
    @include green-bg-ft(); 
}


.navbar-nav{
    border-bottom: 1px solid $font-green;
    margin: 20px;
    .nav-item{
        margin: auto;
        width: 100%;
        text-align: center;
    }
}

.navbar::before, .navbar::after{
    bottom: 10px;
    background: $font-green;
    content: "";
    width: 2px;
    height: 19px;
    position: absolute;
    z-index: 2;
    display: block;
}

.navbar::after{
    right: 18px;
}

.navbar::before
{
    left: 18px;
}


.center-image{ 
    position: absolute;
    margin: auto;
    width: 95%;
    img {
    margin: auto;
    display: block;
    height: 600px;
    margin-top: 85px;
    transform: scaleX(-1);
    @include greenFiltr();}
}

.bottom-bar{
    position: absolute;
    bottom: 0;
    margin: 305px 0px 5px 20px;
    width: 100%;
    font-weight: 300;// maybe to remove
    @include green-bg-ft();
    font-size: 30px;
}

.footer-item{
    border: 1px solid $font-green;
    margin: 0px 5px 0px 5px;
    background-color: $background-green;
}

.footer-item.col-3{
    width: 24%;
    margin: 0px 3px 0px 3px;
}


body::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: repeating-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 1px, #000000 2px, #000000 2px);
    top: 0;
    opacity: .5;
    z-index: 100;
    pointer-events: none;
}

.navbar-nav > .nav-item.active::before{
    content: "";
    border-left: 2px solid #14fe17;
    border-right: 2px solid #14fe17;
    border-top: 2px solid #14fe17;
    width: 12vw;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-left: -6vw;
}
// TODO: move to for loop
.nav-tabs > li:nth-child(2) > a{
    opacity: 0.5;
}

.nav-tabs > li:nth-child(3) > a{
    opacity: 0.2;
}

.level-progress-bar{
    display: inline-block;
    border: 3px solid #14fe17;
    height: 20px;
    margin: auto;
    width: 88%;
    .level-progress-bar-indicator{
        width: 70%;
        border: none;
        background-color: $font-green;
        height: 100%;
    }
}

.mini-status-bars .level-progress-bar{
   margin: auto;
   width: 60px;

}

.mini-status-bars > .margin-bottom{
    margin-bottom: 200px;
}
.mini-status-bars .level-progress-bar{
@for $i from 1 through 10{
    .w#{$i*10}{
        width: $i*10%;
    }
}}

.damage-resistance{
    width: 50%;
    margin: auto;
    margin-top: 90px;
    text-align: center;
    .col-1{
        background-color: $background-green;
        border: 3px solid $background;
        width: 100px;
    }
    .col-1.icon{
        width: 70px;
        img{
            margin-top: 0px;
        }
        
    }
    .col-1.armor{
        margin-left: 30px;
    }
}

.damage-resistance img{
        width: 100%;
        height: auto;
        margin-top: 15px;
        @include iconGreenFilter();
}

.item-list > li, a{
    list-style: none;
    width: 30%;
    text-decoration: none;
    color: $font-green;
    padding: 2px 2px;
    a:hover{
        background: $font-green;
        width: 40%;
        color: #272b23;
    }
}
